<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="configs.providers.config, iBatisNet.Biz" />

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="MtBatisSQL" connectionString="data source=(localDB)\MSSQLLocalDB;initial catalog=TEMP.BIZ.DB;integrated security=True;MultipleActiveResultSets=True;"/>
  </database>

  <sqlMaps>
  </sqlMaps>
  
</sqlMapConfig>